fastapi
uvicorn
redis>=4.5.0
psutil
requests
tiktoken
# torch
transformers
huggingface-hub
safetensors
accelerate
numpy
schedule
pydantic
python-multipart
sse-starlette
websockets
aiofiles
ecdsa
eth-account
web3
asyncpg
cryptography